body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('hi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: upper;
    min-height: 30vh;
    padding: 20px;
}

h1 {
    font-size: 82px;
    margin: 0;
    color: #ffffff;
    align-self: flex-start;
}

.full-width-line {
    border: none;
    border-top: 5px solid #000;
    margin: 0;
}

main {
    background-image: url('ci.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    display: block;
    margin-top: 10px;
}

nav a {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #A7A7A7;
    background-color: #A7A7A7;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.section-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.section-container h2,
.section-container h3,
.section-container p {
    margin: 10px 0;
}

#contact-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(3, 72, 79, 0.6);
    padding: 10px;
    border-radius: 5px;
}

#contact-info p {
    margin: 5px 0;
}

#contact-info a {
    color: #ffffff;
    text-decoration: none;
}

#contact-info a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    nav {
        margin-top: 0;
    }

    nav a {
        padding: 5px;
        margin-right: 2px;
        font-size: 12px;
    }

    #contact-info {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 5px;
        font-size: 12px;
    }
}
